/*===================================================================================*/
/*	CUSTOM HEADER SECTION
/*===================================================================================*/

.custom-header {
	display: block;
	height: auto;
	width: 100%;
	position: relative;
}
.wp-custom-header {
	position: relative;
}
.wp-custom-header::before {
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.wp-custom-header img {
	margin: 0 auto;
}
@media (max-width: 480px) {
	.wp-custom-header img {
		height: 250px;
	}
}
.header-content {
	height: auto;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.header-content h1,
.header-content h2,
.header-content h3,
.header-content h4,
.header-content h5,
.header-content h6,
.header-content p,
.header-content ul,
.header-content ol,
.header-content li,
.header-content a {
	color: #fff;
	margin: 0 0 10px;
}
/*--------------------------------------------------------------------------*/
